Repository voxpupuli/puppet-autofs, pull requests merged in 2018-03, with the labels that each got.

#97 Fix Issue-96 Add AIX Support
  README.md
  data/AIX.yaml
  data/Solaris-11.yaml
  data/Solaris.yaml
  data/common.yaml
  hiera.yaml
  manifests/init.pp
  manifests/map.pp
  manifests/mount.pp
  manifests/package.pp
  manifests/service.pp
  metadata.json
  spec/classes/autofs_spec.rb
  spec/defines/map_spec.rb
  spec/defines/mount_spec.rb
Labels: needs-rebase, needs-squash

#102 Correct and refresh README.md
  README.md
Labels: docs

#112 modulesync 1.9.0
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  spec/acceptance/nodesets/docker/ubuntu-16.04.yml
Labels: modulesync

#110 Fixed handling for bare-string mapcontents
  spec/defines/map_spec.rb
  templates/auto.map.erb
  templates/auto.map.exec.erb
Labels: bug

#111 Make all drop-in files non-executable
  manifests/mount.pp
  spec/acceptance/autofs_exec_spec.rb
  spec/defines/mount_spec.rb
Labels: bug
