Repository voxpupuli/puppet-autofs, pull requests merged in 2022-08, with the labels that each got.

#183 Allow to add +auto.master in auto.master file
  manifests/mapping.pp
  spec/acceptance/autofs_init_spec.rb
  spec/classes/autofs_spec.rb
Labels: enhancement

#184 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
  README.md
  spec/spec_helper.rb
Labels: modulesync

#185 Drop Ubuntu 16.04 support
  README.md
  metadata.json
Labels: backwards-incompatible

#188 Move hiera data to init.pp / puppet-lint: enable type/documentation check
  .puppet-lint.rc
  .sync.yml
  REFERENCE.md
  data/common.yaml
  manifests/init.pp
Labels: enhancement

#187 Release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
